# Configurações do Banco de Dados
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gestao_agropecuaria?schema=public"

# Configurações do JWT
JWT_SECRET="seu_jwt_secret_aqui"
JWT_EXPIRES_IN="24h"

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de Log
LOG_LEVEL=debug
